NYI
<!--
<div class="modal">
  <div class="modal-dialog fadeDown in" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h3 class="modal-title">Reset Password</h3>
      </div>
      <div class="modal-body">
        <p>Enter your email address and click the Reset Password button</p>
        <clr-input-container>
          <input type="text" name="emailAddress" clrInput placeholder="Email Address" [(ngModel)]="emailAddress"/>
        </clr-input-container>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline" type="button">Cancel</button>
        <button class="btn btn-primary" type="button">Reset Password</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade in" aria-hidden="true"></div>
-->
