<form clrForm #form="ngForm">
  <div class="card">
    <div class="card-header">
      Password Settings
    </div>
    <div class="card-block">

      <!-- Alert: successful change -->
      <div class="alert alert-success alert-sm" *ngIf="showSuccessAlert">
        <button type="button" class="close" aria-label="Close" (click)="hideAlerts()">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
            </div>
            <span class="alert-text">Password successfully updated</span>
          </div>
        </div>
      </div>

      <!-- Alert: wrong password -->
      <div class="alert alert-danger alert-sm" *ngIf="isWrongPassword">
        <button type="button" class="close" aria-label="Close" (click)="hideAlerts()">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="danger-circle"></clr-icon>
            </div>
            <span class="alert-text">The password you provided was incorrect</span>
          </div>
        </div>
      </div>

      <br/>
      <div class="card-title">
        Change your password
      </div>

      <div class="card-text">

        <!-- Input: current password -->
        <clr-password-container>
          <label>Current Password</label>
          <input type="password" name="password" clrPassword [(ngModel)]="currentPassword" required (keyup)="hideAlerts()"/>
          <clr-control-error *clrIfError="'required'">You must enter your current password</clr-control-error>
        </clr-password-container>

        <!-- Input: new password -->
        <clr-password-container>
          <label>New Password</label>
          <input type="password" name="newPassword" clrPassword [(ngModel)]="newPassword" required minlength="8" (keyup)="hideAlerts()"/>
          <clr-control-error *clrIfError="'required' && passwordForm.dirty">You must enter a new password</clr-control-error>
          <clr-control-error *clrIfError="'minlength'">Your new password must contain at least 8 characters</clr-control-error>
        </clr-password-container>

        <!-- Input: confirm new password -->
        <clr-password-container>
          <label>Confirm New Password</label>
          <input type="password" name="confirmNewPassword" clrPassword
                 [(ngModel)]="confirmNewPassword" required matchPassword [password]="newPassword" (keyup)="hideAlerts()"/>
          <clr-control-error *clrIfError="'required'">You must confirm your password</clr-control-error>
          <clr-control-error *clrIfError="'matchPassword'">The password confirmation must match the new password</clr-control-error>
        </clr-password-container>
        <br/>
      </div>
    </div>

    <!-- Buttons -->
    <div class="card-footer">
      <button class="btn btn-primary" (click)="patchPassword()" [disabled]="passwordForm.invalid">CHANGE PASSWORD</button>
      <button class="btn btn-outline" (click)="resetPasswords()">CANCEL</button>
    </div>
  </div>
</form>
